<nav class="nav">
    <div class="nav-bar">
        <ul >
            <li class="nav__item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav__item">
                <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav__item">
                <a class="nav-link" href="#">Pricing</a>
            </li>
        </ul>
    </div>
</nav>>