/*palette
RGB (124, 175, 196) Dark Blue Sky;
RGB (89, 149, 237) United nation blue;
RGB (255, 173, 5) chinese yellow;
RGB (252, 255, 75) maximum yellow;
RGB (4, 67, 137) yale blue;*/


.content{
    display: inline-block;
}

body{
    background-color: RGB(124, 175, 196);
}

.background-effect{
    background-image: url("C:/Users/Ron/Documents/GoogleDrive/Git-mine/WebSite-repo/BG.JPG");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(40%);
}

.banner{
    text-align: center;
}

.title h1{
    color: RGB(4, 67, 137);
    font-family: 'Libre Baskerville', serif;
    font-size: 90px;
    display: inline-flex;
    border: 2px solid orange;   
}
.navbar li{
    display: inline;
}

.navbar{
    height: 50px;
    background-color: black;
}

.navbar a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    font-family: 'Libre Baskerville', serif;
    font-size: 17px;
}