* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

nav {
  background-color: orangered;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 15%; }
  nav .nav-bar .nav__item {
    display: flexbox;
    align-items: center;
    display: inline-block;
    font-size: 2rem;
    text-transform: uppercase;
    padding: 2rem 0;
    font-weight: 300; }
    nav .nav-bar .nav__item a.nav-link:hover {
      color: black;
      align-self: center; }
