body{
    background-color: orange;
}
body, html {
  height: 100%;
}
.parallax{
   /* The image used */
   background-image: url("C:/Users/Ron/Documents/GoogleDrive/Git-mine/WebSite-repo/BG.JPG");


   /* Full height */
   height: 100%; 
 
   /* Create the parallax scrolling effect */
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   filter: grayscale(80%);
}





/*
.background-img {
    border: 10px solid green;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    background-image: url("C:/Users/Ron/Documents/GoogleDrive/Git-mine/WebSite-repo/BG.JPG");
    width: 1200px;
    height: 1200px;
    filter: grayscale(75%);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
  }
  
  .content {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9999;
    margin-left: 20px;
    margin-right: 20px;
  }
*/